absl-py==0.13.0
amqp==5.0.6
apparmor==3.0.3
appdirs==1.4.4
application-utility==1.3.2
astunparse==1.6.3
autopep8==1.5.7
billiard==3.6.4.0
black==21.4b2
BTrees==4.9.2
btrfsutil==5.13.1
CacheControl==0.12.6
cachetools==4.2.2
catfish==4.16.2
celery==5.1.0
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2020.12.5
cffi==1.14.6
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
codetiming==1.3.0
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==3.4.8
distlib==0.3.2
distro==1.5.0
dnspython==1.16.0
docopt==0.6.2
filelock==3.0.12
flatbuffers==1.12
gast==0.4.0
google-auth==1.33.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.34.1
gufw==21.4.0
h5py==3.1.0
html5lib==1.1
idna==3.2
joblib==1.0.1
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyutils==0.6
kombu==5.1.0
lensfun==0.3.95
LibAppArmor==3.0.3
lightdm-gtk-greeter-settings==1.2.2
louis==3.18.0
Markdown==3.3.4
menulibre==2.2.1
more-itertools==8.8.0
msgpack==1.0.2
mugshot==0.4.3
mypy-extensions==0.4.3
netsnmp-python==1.0a1
npyscreen==4.10.5
numpy==1.19.5
oauthlib==3.1.1
opencv-python==4.5.3.56
opt-einsum==3.3.0
ordered-set==4.0.2
packaging==20.9
pacman-mirrors==4.21.5
pathspec==0.8.1
pep517==0.11.0
perfmetrics==3.1.0
persistent==4.7.0
pexpect==4.8.0
Pillow==8.3.1
pip-autoremove==0.9.1
ply==3.11
progress==1.5
prompt-toolkit==3.0.18
protobuf==3.17.3
psutil==5.8.0
psycopg2==2.9.1
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycodestyle==2.7.0
pycparser==2.20
pyfiglet==0.8.post1
pygame==2.0.1
PyGObject==3.40.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.9.0
pysmbc==1.0.23
python-dateutil==2.8.2
python-distutils-extra==2.39
pytz==2021.1
pyxdg==0.27
PyYAML==5.4.1
rados==2.0.0
rbd==2.0.0
regex==2021.4.4
RelStorage==3.4.5
reportlab==3.5.68
requests==2.26.0
requests-oauthlib==1.3.0
resolvelib==0.5.5
retrying==1.3.3
rgw==2.0.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.7.0
six==1.15.0
sklearn==0.0
team==1.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
termdown==1.17.0
threadpoolctl==2.2.0
toml==0.10.2
tomli==1.2.1
transaction==3.0.1
typing-extensions==3.7.4.3
udiskie==2.3.3
ufw==0.36
urllib3==1.26.6
vine==5.0.0
virtualenv==20.4.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
wrapt==1.12.1
youtube-dl==2021.6.6
zc.lockfile==2.0
ZConfig==3.6.0
ZODB==5.6.0
zodbpickle==2.0.0
zope.dottedname==4.3
zope.interface==5.4.0
