.button {
  text-transform: uppercase;
  background-color: var(--main);
  border-color: var(--main);
  border-width: 1px;
  font-size: 1rem;
  padding: 6px 16px;
  border-radius: 0.5rem;
  color: #fff;
}

.button:hover {
  background-color: var(--main-darker);
  color: white;
}
