.result-image {
  object-fit: cover;
  width: 250px;
  height: 250px;
  margin-top: 1rem;
  margin-left: 1rem;
}

.result-image:hover {
  cursor: pointer;
}

.selected {
  border: 10px solid var(--main-darker);
}
